@import url(./titus-system.css);

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.asteroid-details {
  background-color: var(--TITUS-accent-color-1);;
  border: 2px solid var(--TITUS-accent-color-5);
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:  30px;
}

.asteroid-details .details-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.details-title .name {
  font-size:  var(--TITUS-fH);;
}

.details-title .logo {
  font-size:  var(--TITUS-fG);;
}

.asteroid-details ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}